<div class="container">
<h1>Plympics Teams!</h1>

<div class="card p-2 w-50">
  <% Year.all.order(:id).each_with_index do |year, index| %>
    <div>
      <h2 style="vertical-align: -webkit-baseline-middle; display: inline-block;"><%= year.year %></h2>
      <%= button_to "Add a Team", new_team_path, method: :get, params: {year_id: year.id}, form: {style: 'display:inline-block;'}, class: "btn btn-success btn-sm", style: "display: inline;" %>
    </div>
    <ol>
    <% Team.where(year_id: year.id).each do |team| %>
      <li class="teams-listing">
        <%= link_to team.name, team_path(team.id) %>
        <%= button_to "Delete", team_path(id: team.id), method: :delete, 'data-remote': true, form: {style: 'display:inline-block; float: right'}, class: "btn btn-outline-danger btn-xs", style: "display: inline;" %>
        <%= button_to "Edit", edit_team_path(id: team.id), method: :get, form: {style: 'display:inline-block; float: right'}, class: "mr-2 btn btn-outline-primary btn-xs", style: "display: inline;" %>
      </li>
    <% end %>
    </ol>
    
    <% if index != Year.all.length - 1 %>
      <hr/> 
    <% end %>
  <% end %>
</div>

<%= javascript_tag do %>
 $('li').removeClass('active');
 $('.teams').addClass('active');
<% end %>