<div class="container pt-2">
  <%= button_to "Back to Teams", teams_path, method: :get, class: "btn btn-primary btn-sm" %>

  <div class="card mt-3 p-2">
    <p>
      <strong>Team Name:</strong>
      <%= @team.name %>
    </p>

    <p>
      <strong>Year:</strong>
      <%= Year.find(@team.year_id).year %>
    </p>

    <p>
      <strong>Total Score:</strong>
      <%= @team.total %>
    </p>
  </div>
</div>

<%= javascript_tag do %>
 $('li').removeClass('active');
 $('.teams').addClass('active');
<% end %>