
<div id="clue-index">

  <p></p>
  <%= link_to "Add a Word", new_clue_path, class: "button", id: "add-word-btn" %>
  <ul>
    <% Year.all.sort_by(&:year).reverse!.each do |year| %>
      <h3 class="year-item collapsible"><%= year.year %> &#9660;</h3>
      <ul class="word-list">
        <% Difficulty.all.sort_by(&:id).each do |difficulty| %>
          <li>
            <h5 class="difficulty-item"><%= difficulty.name%></h5>
            <ul>
              <% Clue.where(event_id: Event.pictionary.find_by(year: year), difficulty_id: difficulty.id).sort_by(&:word).each do |clue| %>
                <li class="clue-item">
                  <%= clue.word %><span class="edit-link"><%= link_to 'Edit', edit_clue_path(clue) %></span>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    <% end %>
  </ul>
  <%= link_to "Add a Word", new_clue_path, class: "button", id: "add-word-btn" %>
</div>

<%= javascript_tag do %>
  $('li').removeClass('active');
  $('.words').addClass('active');
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
<% end %>
