<div class="container">
<h2>New Word</h2>
<%= form_for @clue do |form| %>
  <div id="word-field">
    <%= form.label :word, 'Word' %>
    <%= form.text_field :word %>
  </div>

  <div id="difficulty-field">
    <%= form.label :difficulty_id, 'Difficulty' %>
    <%= form.select(:difficulty_id, options_for_select(Difficulty.all.collect {|p| [ p.name, p.id ] })) %>
  </div>

  <div id="year-field">
    <%= form.label :event_id, 'Year' %>
    <%= form.select(:event_id, options_for_select(Event.pictionary.all.collect {|e| [ e.year.year, e.id ] })) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>
