<div class="container">
<h2>New Word</h2>
<%= form_for @clue do |form| %>
  <div id="word-field">
    <%= form.label :word, 'Word' %>
    <%= form.text_field :word %>
  </div>

  <div id="category-field">
    <%= form.label :category_id, 'Category' %>
    <%= form.select(:category_id, options_for_select(Category.all.collect {|c| [ c.name, c.id ] })) %>
  </div>

  <div id="year-field">
    <%= form.label :event_id, 'Year' %>
    <%= form.select(:event_id, options_for_select(Event.pictionary.all.collect {|e| [ e.year.year, e.id ] }, @current_year.id)) %>
  </div>

  <div>
    <br />
    <%= form.submit %>
  </div>
<% end %>
</div>
